.App {
  text-align: center;
  margin:50px
}

.command-box,.dimension-box{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.column-ctn{
  display: flex;
}


.column-ctn li{
  padding:10px;
  width: 60px;
  height: 60px
}

