.App {
  text-align: center;
  margin:50px
}

.command-box,.dimension-box{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.column-ctn{
  display: flex;
}


.column-ctn li{
  padding:10px;
  width: 60px;
  height: 60px;
  border:1px solid #e2e2e2;
}

.active{
  background-color: #e2e2e2;
}

.border-right{
  border-right:4px solid #1763fd  !important
}

.border-up{
  border-top:4px solid #1763fd  !important
}
.border-down{
  border-bottom:4px solid #1763fd  !important
}
.border-left{
  border-left:4px solid #1763fd  !important
}

